<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
<!--    <link th:href="@{/css/bootstrap.min.css}"-->
<!--          href="css/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <style>
        a {
            text-decoration: none;
            color: inherit;
          }

    </style>

</head>
<body>


<div class="container text-center" >
    <div th:replace="~{/headerNavbar :: headerNavbar}"></div>

    <!--  content start-->
    <form action method="post" th:object="${loginDto}">
    <div class="container login" data-v-7759b8f8="" data-v-1d0b532e="">
        <div class="content lg" data-v-7759b8f8="">
            <div class="login_area" data-v-7759b8f8="">
                <h2 class="login_title" data-v-7759b8f8="">
                    <span class="blind" data-v-7759b8f8="">KREAM</span>
                </h2>


                <div class="has_button input_box" data-v-4e1fd2e6="" data-v-7759b8f8="">
                    <h3 class="input_title" data-v-4e1fd2e6="" data-v-7759b8f8="">이메일 주소</h3>
                    <div class="input_item" data-v-4e1fd2e6="">
                        <input type="email" th:field="*{email}"
                               placeholder="예) kream@kream.co.kr" autocomplete="off" class="input_txt" data-v-4e1fd2e6="">
                        <button type="button" class="btn input_delete" style="display:none;" data-v-43813796="" data-v-7759b8f8="" data-v-4e1fd2e6="">
                            <svg xmlns="http://www.w3.org/2000/svg" class="ico-delete-circle icon sprite-icons" data-v-7759b8f8="">
                                <use href="/_nuxt/54eaabd5a726b216f3c53922147167ee.svg#i-ico-delete-circle" xlink:href="/_nuxt/54eaabd5a726b216f3c53922147167ee.svg#i-ico-delete-circle" data-v-7759b8f8=""></use>
                            </svg>
                        </button>
                    </div>
                    <div th:if="${#fields.hasGlobalErrors()}">
                        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                            글로벌 오류 메시지
                        </p>
                    </div>

                    <p class="input_error" data-v-4e1fd2e6="" data-v-7759b8f8="">이메일 주소를 정확히 입력해주세요.</p>
                </div>
                <div class="input_box has_button" data-v-4e1fd2e6="" data-v-7759b8f8="">
                    <h3 class="input_title" data-v-4e1fd2e6="" data-v-7759b8f8="">비밀번호</h3>
                    <div class="input_item" data-v-4e1fd2e6=""><input type="password" th:field="*{password}"
                                                                      placeholder="" autocomplete="off" class="input_txt" data-v-4e1fd2e6=""></div>
                    <p class="input_error" data-v-4e1fd2e6="" data-v-7759b8f8=""> 영문, 숫자, 특수문자를 조합해서 입력해주세요. (8-16자) </p>
                </div>
                <div class="login_btn_box" data-v-7759b8f8="">
                    <button type="submit" class="btn full solid" data-v-43813796="" data-v-7759b8f8=""></button>
<!--                    <a disabled="disabled" href="#" class="btn full solid disabled" data-v-43813796="" data-v-7759b8f8=""> 로그인 </a>-->
                </div>
                <ul class="look_box" data-v-7759b8f8="">
                    <li class="look_list" data-v-7759b8f8="">
                        <a href="/join" class="look_link" data-v-7759b8f8=""> 이메일 가입 </a>
                    </li>
                    <li class="look_list" data-v-7759b8f8="">
                        <a href="/login/find_email" class="look_link" data-v-7759b8f8=""> 이메일 찾기 </a>
                    </li>
                    <li class="look_list" data-v-7759b8f8="">
                        <a href="/login/find_password" class="look_link" data-v-7759b8f8=""> 비밀번호 찾기 </a>
                    </li>
                </ul>
                <div class="social_login" data-v-7759b8f8="">
                    <button type="button" class="btn btn_login_naver full outline" data-v-43813796="" data-v-7759b8f8="">
                        <svg xmlns="http://www.w3.org/2000/svg" class="logo-social icon sprite-icons" data-v-7759b8f8="">
                            <use href="/_nuxt/54eaabd5a726b216f3c53922147167ee.svg#i-logo-naver" xlink:href="/_nuxt/54eaabd5a726b216f3c53922147167ee.svg#i-logo-naver" data-v-7759b8f8=""></use>
                        </svg> 네이버로 로그인
                    </button>
                    <button type="button" class="btn btn_login_apple full outline" data-v-43813796="" data-v-7759b8f8="">
                        <svg xmlns="http://www.w3.org/2000/svg" class="logo-social icon sprite-icons" data-v-7759b8f8=""><use href="/_nuxt/54eaabd5a726b216f3c53922147167ee.svg#i-logo-apple" xlink:href="/_nuxt/54eaabd5a726b216f3c53922147167ee.svg#i-logo-apple" data-v-7759b8f8=""></use>
                        </svg> Apple로 로그인
                    </button>
                </div>
            </div>
        </div>
    </div>
    </form>

    <hr>

    <!--  content finish-->
    <div th:replace="~{/footer :: footerFragment}"></div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>